<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>titulo</th>
                        <th>descripcion</th>
                        <th>precio</th>
                        
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let anuncio of Anuncios">
                        <td><i>{{anuncio.titulo}}</i></td>
                        <td><i>{{anuncio.descripcion}}</i></td>
                        <td><i>{{anuncio.precio}}</i></td>
                        
                    

                     


                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
