<div class="row">
    <div class="col">
        <form>
            <div class="mb-3">
                <label for="titulo" class="form-label">Titulo</label>
                <input type="text" class="form-control" id="titulo" [(ngModel)]="anuncio.titulo" name="titulo">

            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" [(ngModel)]="anuncio.descripcion"
                    name="descripcion">
            </div>

            <div class="mb-3 ">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" [(ngModel)]="anuncio.precio" name="precio">


            </div>

            <div class="mb-3 ">
                <label for="estado" class="form-label">estado</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="anuncio.estado" name="estado">
                    <option value="publicado">publicado</option>
                    <option value="vendido">vendido</option>
                    
                  </select>


            </div>
            <button type="submit" class="btn btn-primary" (click)="editar()">Editar anuncio</button>
        </form>
    </div>
</div>

