<body>

    <!--barra-->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <fa-icon [icon]="faBars" class="boton-barras"></fa-icon>
        </label>
        <a href="#" class="enlace">
            <img src="./../../assets/icono.png" alt="" class="logo">
        </a>
        <ul>

            <li><a href="/identificacion"><button class="boton-aplicacion">Identificarse</button></a></li>
            <li><a href="/registro"><button class="boton-aplicacion">Registrarse</button></a></li>

        </ul>
    </nav>











    <!--banner-->
    <section class="banner">
        <div class="row-responsive">
            <div class="col-responsive w-50-mio p-20-mio">
                <p class="titulo-grande centrado">Da una segunda, o tercera, o cuarta vida a aquello que no usas</p>
                <p class="texto-secundario centrado mt-40-mio">Con EnesimaMano puedes vender cualquier producto para
                    obtener dinero por ello y puedes comprar productos mas baratos que en las tiendas para ahorrar
                    dinero</p>
                <img src="./../../assets/reutilizar.png" class="mt-40-mio imagen-grande">
            </div>
        </div>

    </section>




    <!--caracteristicas-->
    <section class="caracteristicas mt-100-mio">
        <div class="row-responsive p-50-mio">
            <div class="col-responsive">
                <img src="./../../assets/segunda.png" class=" imagen-grande">
            </div>
            <div class="col-responsive w-66-mio p-20-mio">
                <p class="titulo-mediano">Vende lo que no utilices para obtener dinero por ello</p>
                <p class="texto-secundario">Publica un anuncio en EnesimaMano y seguramente alguien estará interesado en
                    tu producto</p>
            </div>

        </div>


        <div class="row-responsive mt-40-mio p-50-mio">
            <div class="col-responsive w-66-mio p-20-mio">
                <p class="titulo-mediano">Compra productos que necesites y ahorra dinero</p>
                <p class="texto-secundario">Comprando en EnesimaMano ahorras dinero ya que los productos al ser ya
                    utilizados son más baratos</p>
            </div>
            <div class="col-responsive">
                <img src="./../../assets/dinero.png" class=" imagen-grande">
            </div>

        </div>
    </section>




    <!--productos-->
    <section class="tiposProductos mt-100-mio">
        <div class="row-responsive">
            <p class="titulo-grande centrado titulo-seccion-centrar">Cualquier tipo objeto lo puedes
                encontrar en EnesimaMano</p>
        </div>

        <div class="row-responsive-modificada">
            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faCar" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Coches</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faMotorcycle" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Motos</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faShirt" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Moda</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faTree" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Jardin</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faTv" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Televisión</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faBook" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Libros</p>
                </div>
            </div>
        </div>

        <div class="row-responsive-modificada">
            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faMobile" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Móviles</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faLaptop" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Portátiles</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faVolleyball" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Deportes</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faGamepad" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Consolas</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faHome" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Hogar</p>
                </div>
            </div>

            <div class="col-responsive w-16-mio mt-10-mio p-5-mio">
                <div class="carta-tipo-producto p-10-mio w-75-mio">
                    <fa-icon [icon]="faKitchenSet" class="icono-tipo-producto"></fa-icon>
                    <p class="texto-icono-producto">Cocina</p>
                </div>
            </div>
        </div>
    </section>




    <!--cartas-->
    <section class="cartas mt-100-mio">
        <div class="row-responsive">
            <div class="col-responsive">
                <h1 class="titulo-grande titulo-seccion-centrar">¿Qué puedo hacer en EnesimaMano?</h1>
            </div>
        </div>

        <div class="row-responsive ">
            <div class="col-responsive p-10-mio w-33-mio">
                <div class="carta-interior p-10-mio">
                    <fa-icon [icon]="faCartShopping" class="icono-tipo-carta"></fa-icon>
                    <h1 class="titulo-mediano centrado">Publica tus productos</h1>
                    <p class="centrado">Vende aquello que no usas para que otras personas puedan beneficiarse de ello
                    </p>
                </div>

            </div>
            <div class="col-responsive p-10-mio w-33-mio">
                <div class="carta-interior p-10-mio ">
                    <fa-icon [icon]="faHeart" class="icono-tipo-carta"></fa-icon>
                    <h1 class="titulo-mediano centrado">Guarda tus anuncios favoritos</h1>
                    <p class="centrado">Guarda tus anuncios favoritos para acceder a ellos rápidamente</p>
                </div>

            </div>
            <div class="col-responsive p-10-mio w-33-mio">
                <div class="carta-interior p-10-mio">
                    <fa-icon [icon]="faMagnifyingGlass" class="icono-tipo-carta"></fa-icon>
                    <h1 class="titulo-mediano centrado">Encuentra productos</h1>
                    <p class="centrado">Aplica filtros y realiza diferentes búsquedas para encontrar el producto que
                        buscas</p>
                </div>

            </div>
        </div>
    </section>





    <!--comunidad-->
    <section class="comunidad mt-100-mio">
        <div class="row-responsive">
            <div class="col-responsive">
                <h1 class="titulo-grande titulo-seccion-centrar">Únete a la comunidad y empieza
                    a vender y comprar</h1>
            </div>
        </div>

        <div class="row-responsive">
            <div class="col-responsive p-10-mio">
                <div class="numero-interior p-10-mio">
                    <h1 class="titulo-grande">3</h1>
                    <p class="texto-secundario">millones de usuarios</p>

                </div>
            </div>

            <div class="col-responsive p-10-mio">
                <div class="numero-interior p-10-mio">
                    <h1 class="titulo-grande">9</h1>
                    <p class="texto-secundario">millones de anuncios</p>

                </div>
            </div>
        </div>



    </section>

    <section class="registro-seccion">
        <div class="row-responsive mt-40-mio">
            <div class="col-responsive ">
                <div class="row-responsive">
                    <div class="col-responsive p-10-mio w-66-mio">
                        <h1 class="titulo-mediano titulo-registro">Regístrate ahora y publica
                            tu primer anuncio</h1>
                    </div>

                    <div class="col-responsive p-10-mio  ">
                        <button class="boton-registro">
                            Registrarse
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <section class="footer mt-100-mio p-10-mio">
        <div class="row-responsive">
            <div class="col-responsive">
                <h1 class="titulo-pequeno">José María Lozano Olmedo</h1>
                <h2 class="titulo-pequeno">All rights reserved &copy;</h2>
            </div>
        </div>
    </section>








</body>