<div class="row">
    <div class="col">
        <p>{{anuncio.titulo}}</p>
        <p>{{anuncio.descripcion}}</p>
        <p>{{anuncio.precio}}</p>
        <p>vendedor: {{anuncio.idVendedor}}</p>
        <button type="button" class="btn btn-primary" (click)="detallesUsuario()">Ver usuario</button>
        <button type="button" class="btn btn-primary" (click)="anadirFavoritos()">Añadir a favoritos</button>
        <button type="button" class="btn btn-primary" (click)="anadirFavoritos()">Enviar mensaje</button>
    </div>
</div>


<div class="row">
    <div class="col">
        <form>
            <div class="mb-3">
                 <label for="mensaje" class="form-label">mensaje</label>
                 <input type="text" class="form-control" id="mensaje"  [(ngModel)]="mensaje.contenido" name="mensaje">
                
               </div>
              
               <button type="submit" class="btn btn-primary" (click)="enviarMensaje()" >Enviar mensaje</button>
             </form>
    </div>
</div>



